/* Purple background gradient */
.contact,
.aboutMe,
.projects {
    
    
    background: rgba(235,233,249,1);
    background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 2%, rgba(235,233,249,1) 52%, rgba(193,191,234,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(0%, rgba(206,199,236,1)), color-stop(2%, rgba(206,199,236,1)), color-stop(52%, rgba(235,233,249,1)), color-stop(100%, rgba(193,191,234,1)));
    background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 2%, rgba(235,233,249,1) 52%, rgba(193,191,234,1) 100%);
    background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 2%, rgba(235,233,249,1) 52%, rgba(193,191,234,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 2%, rgba(235,233,249,1) 52%, rgba(193,191,234,1) 100%);
    background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(206,199,236,1) 0%, rgba(206,199,236,1) 2%, rgba(235,233,249,1) 52%, rgba(193,191,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
}


/*  About Me   */
.about {
    text-align: center;
    margin-top: 2rem;
    padding-top: 12rem;
}

.aboutMe {
    position: relative;
    padding: 7% 5%;
    font-size: 10rem;
    font-weight: 800;
    z-index: 1;
    color: rgba(255,255,255,0.7);    
}

.me {
    margin: 0 auto;
}

.overlayMe {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: -1;
}


/* Media Queries */
@media (min-width: 767px) {
    .me {
        margin: 0 auto;
    }
}

@media (min-width: 968px) {
    .aboutMe {
        padding: 7% 5%;
    }
    
    .me {
        margin: 0;
//        max-width: 500px;
    }

}

@media (min-width: 1440px) {
    .me {
        margin-left: 5%;
        max-width: 500px;
    }
}