/* Contact section */
.contact {
    height: 50vh;
    min-height: 350px;
    position: relative;
    text-align: center;
    color: #fff;
}

.contact h2 {
    margin: 0;
    padding-top: 5%;
    padding-bottom: 10%;
    position: relative;
    z-index: 2;
}

.contact a {
    text-align: center;
}

.contact p {
    color: #fff;
    position: relative;
    z-index: 2;
}

.contact-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    z-index: 1;
}

.mail-icon {
    position: relative;
    z-index: 2;
    height: 80px;
    width: 146px;
    background-image: url('../img/envelope-icon.svg');
    background-size: cover;
    background-repeat: no-reapeat;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contact {
        float: right;
        width: 50%;
    }
    
    .contact h2 {
        padding-bottom: 7.5%;
    }
}