/* Projects Section */
.projects {
    height: 50vh;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 0;
}

.projects ul {
    padding: 0;
}

.projects-overlay {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.projects li {
    height: 150px;
    width: 260px;
    margin: 0 auto;
}

.projects h2 {
    padding-top: 2rem;
}

.p1{
    background-image: url("../img/logistiq.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.p2 {
    background-image: url("../img/bootgal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.p3 {
    background-image: url("../img/enride.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* Media Queries */

@media (min-width: 968px) {

}




