/* Resume section */
.resume {
    background-color: #333;
    height: 50vh;
    min-height: 350px;
    position: relative;
    text-align: center;
    color: #fff;
    padding-top: 0;
    
}

.resume h4 {
    margin-top: 0;
}

.resume h2 {
    padding-top: 5%;
}

.resume-icon {
    margin: 0 auto;
    width: 150px;
    height: 200px; 
    background-image: url('../img/resume-op.png');
    background-size: cover;
}

@media(min-width: 544px) {
    .resume-icon {
        width: 140px;
        height: 185px;
    }
}

@media (min-width: 768px) {
    .resume {
        width: 50%;
        float: left;
    }
}