/* Resume section */
.resume {
    background-color: #333;
    height: 50vh;
    position: relative;
    text-align: center;
    color: #fff;
    
}

.resume h4 {
    margin-top: 0;
}

.resume h2 {
    padding-top: 2.5%;
}

.resume-icon {
    margin: 0 auto;
    width: 150px;
    height: 200px; 
    background-image: url('../img/resume-op.png');
    background-size: cover;
}

@media (min-width: 768px) {
    
    .resume-icon{
        
    }
    .resume {
        width: 50%;
        float: left;
    }
}