.treehouse {
    height: 50vh;
    min-height: 350px;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 0;
}

.leaderboard {
    max-width: 100%;
    
}

.portfolio-item {
    padding: 20px;
    position: relative;
    top: 15%;
    vertical-align: center;
}

@media (min-width: 968px) {
    .treehouse {
        width: 50%;
        float:left;
        height: 350px;
        padding-bottom: 0;
    }
}