.treehouse {
    height: 50vh;
    min-height: 350px;
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 0;
}

.leaderboard {
    width: 300px;
    height: 150px;
}

@media (min-width: 968px) {
    .treehouse {
        width: 50%;
        float:left;
        height: 350px;
        padding-bottom: 0;
    }
}