/* Social Icons */


.social-icon {
    background-size: contain;
    background-repeat: no-repeat;
    height: 4vh;
    min-height: 25px;
    width: 4vh;
    min-width: 25px;
    z-index: 1000;
    position: absolute;
    top: 35%;
    right: 42%;   
    cursor: pointer;
    transition: opacity 800ms;
}

.facebook-icon {
    background-image: url(../img/fb-white.png);
}

.linkedIn-icon {
    background-image: url(../img/linkedIn.png);
}

.youtube-icon {
    background-image: url(../img/youtube2.png); 
    top: 45%;
    right: 30%;
}

.github-icon {
    background-image: url(../img/github2.png);
    height: 5vh;
    min-height: 30px;
    width: 5vh;
    min-width: 30px;
    top: 32%;
    right: 15%; 
}

/* Gallery controls */

.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10%;
    border: 10px solid #fff;
    border-bottom: 0;   
    cursor: pointer;
    transition: border 800ms, box-shadow 300ms;
}

.arrow:hover {
    border: 10px solid #fff;
    border-bottom: 0;
}


.next {
    box-shadow: -5px -5px 5px black;
    transform: rotate(140deg); 
    right: 10%;
    border-right: 0;
    
}

.next:hover {
    box-shadow: -5px -5px 5px #333;
    border-right: 0;
}

.prev {
    box-shadow: 5px -5px 5px black;
    transform: rotate(-140deg);
    left: 10%;
    border-left: 0;
}

.prev:hover {
    border-left: 0;
}


/* MEDIA QUERIES */

@media (min-width: 458px) {
    .arrow {
        top: 45%;
    }
    
    .facebook-icon,
    .linkedIn-icon {
       right: 29%;   
    }
    
    .github-icon {
       right: 10%; 
    }
    
    .youtube-icon {
        right: 20%;
    }
}

@media (min-width: 968px) {
    .prev {
        left: 10%;
    }
    
    .next {
        right: 10%
    }
    
    .facebook-icon,
    .linkedIn-icon{
       right: 16%;   
    }
    
    .github-icon {
       right: 5%; 
    }
    
    .youtube-icon {
        right: 11%;
    }
}