/*
    BASE STYLES
*/

* {
    font-family: 'Sorts Mill Goudy', serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

a {
    color: #fff;
    transition: font-size 145ms;
    
}

a:link{
    text-decoration: none;   
}

a:hover {
    color: #fff;
    text-decoration: underline;
    font-size: 1.1rem;
    cursor: pointer;
}

ul {
    list-style: none;    
}

body {
    background-color: #fff;    
}

h2 {
    padding-top: 10%;
    margin-top: 0;
    
}

h3 {
    font-size: 1.5rem;
    
}

p {
    font-size: 1.3rem;
    font-weight: 400;
}
